<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <style> 
      img {
        width: 100px;
        height: 100px;
      }
    </style>
</head>

<body>
<div>
  <a href="/home">home</a>
  <a href="/login">login</a>
  <a href="/register">register</a>
  <a href="/upload">upload</a>
</div>


{{range $i := .}}
  <img src="resources/public/user_images/{{$i}}"  alt="resources/public/user_images/{{$i}}" />
{{end}}

</body>

</html>