<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>

<body>

<a href="/home">home</a>
<a href="/login">login</a>
<a href="/register">register</a>
<a href="/upload">upload</a>

</body>

</html>