<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>

<body>
<div>
  <a href="/home">home</a>
  <a href="/login">login</a>
  <a href="/register">register</a>
  <a href="/upload">upload</a>
</div>

<div>
  <form method="post">
    <input type="text" id="name" name="name"  placeholder="Name" />
    <input type="password" id="pwd" name="password" placeholder="Password" />
    <button type="Submit">Login</button>
  </form>
</div>
</body>

</html>